input.search {
	display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0492C2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;}
